<!DOCTYPE html>
<html lang="fr">
  <head>
    <!--
      Copyright (C) 2020 ExploRêve

      This program is free software: you can redistribute it and/or modify
      it under the terms of the GNU Affero General Public License as
      published by the Free Software Foundation, either version 3 of the
      License, or (at your option) any later version.

      This program is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU Affero General Public License for more details.

      You should have received a copy of the GNU Affero General Public License
      along with this program.  If not, see <https://www.gnu.org/licenses/>.

      Full source code is available at <https://gitlab.com/exploreve/frontend>.
    -->

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="https://cdn.exploreve.fr/content/favicon/favicon.png" />
    <title>Explorêve</title>
    <meta name="title" content="Explorêve" />
    <meta
      name="description"
      content="Explorêve est un jeu en ligne qui se déroule dans un monde aux frontières de la réalité : la Troposphère. Il est destiné aux jeunes de 11 à 17 ans mais peut-être rendu à accessible à tous."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://exploreve.fr/" />
    <meta property="og:title" content="Explorêve" />
    <meta
      property="og:description"
      content="Explorêve est un jeu en ligne qui se déroule dans un monde aux frontières de la réalité : la Troposphère. Il est destiné aux jeunes de 11 à 17 ans mais peut-être rendu à accessible à tous."
    />
    <meta property="og:image" content="https://cdn.exploreve.fr/content/social/link_image.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://exploreve.fr/" />
    <meta property="twitter:site" content="@ExploreveScout" />
    <meta property="twitter:title" content="Explorêve" />
    <meta
      property="twitter:description"
      content="Explorêve est un jeu en ligne qui se déroule dans un monde aux frontières de la réalité : la Troposphère. Il est destiné aux jeunes de 11 à 17 ans mais peut-être rendu à accessible à tous."
    />
    <meta property="twitter:image" content="https://cdn.exploreve.fr/content/social/link_image.png" />

    <link rel="stylesheet" href="https://cdn.exploreve.fr/content/leaflet/leaflet.css" />
    <script src="https://cdn.exploreve.fr/content/leaflet/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@2.6.0/assets/css/leaflet.css" />

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
      _paq.push(["setDomains", ["*.exploreve.fr"]]);
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);
      (function () {
        var u = "//stats.latoilescoute.net/";
        _paq.push(["setTrackerUrl", u + "matomo.php"]);
        _paq.push(["setSiteId", "11"]);
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.type = "text/javascript";
        g.async = true;
        g.defer = true;
        g.src = u + "matomo.js";
        s.parentNode.insertBefore(g, s);
      })();
    </script>
    <noscript
      ><p><img src="//stats.latoilescoute.net/matomo.php?idsite=11&amp;rec=1" style="border: 0;" alt="" /></p
    ></noscript>
    <!-- End Matomo Code -->
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please
        enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
