<!--
  Copyright (C) 2020 ExploRêve

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.

  Full source code is available at <https://gitlab.com/exploreve/frontend>.
-->

<template>
  <div>
    <img class="acceuil" src="@/assets/img/acceuil.svg" alt="ExploRêve, L'aventure Scoute en ligne arrive bientôt !" />
    <NewsletterForm class="newsletter-form" />
  </div>
</template>

<script>
import NewsletterForm from "@/components/NewsletterForm.vue";

export default {
  components: {
    NewsletterForm
  }
};
</script>

<style lang="scss" scoped>
.acceuil {
  max-width: 100%;
  max-height: 92vh;
  margin: 0;
  padding: 0;
  border: 0px;
}

.newsletter-form {
  position: absolute;
  top: 85%;
  width: 100%;
  margin-bottom: 3em;

  @media only screen and (max-width: 768px) {
    top: 50%;
  }
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}
</style>
