<!--
  Copyright (C) 2020 ExploRêve

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.

  Full source code is available at <https://gitlab.com/exploreve/frontend>.
-->

<template>
  <div>
    <div :style="style" ref="lavContainer"></div>
    <!-- <button ref="playButton" class="play-button" @click="play"></button> -->
    <audio ref="animAudio" class="audio_anim">
      <source src="https://cdn.exploreve.fr/content/IM2/audio/animation_ballon_et_crash.mp3" />
    </audio>
  </div>
</template>

<script>
import lottie from "lottie-web";
export default {
  props: {
    height: Number,
    width: Number
  },
  data() {
    return {
      style: {
        width: this.width ? `${this.width}px` : "100%",
        height: this.height ? `${this.height}px` : "100%",
        overflow: "hidden",
        margin: "0 auto"
      },
      anim_data: null,
      anim: null
    };
  },
  methods: {
    play: function () {
      this.$refs.playButton.classList.toggle("hidden");
      this.$refs.lavContainer.classList.toggle("hidden");
      //this.anim.play();
      this.$refs.animAudio.play();
    }
  },
  mounted() {
    fetch("https://cdn.exploreve.fr/content/IM2/0_anim_brouillard_debut.json")
      .then((response) => response.json())
      .then((data) => {
        this.anim = lottie.loadAnimation({
          container: this.$refs.lavContainer,
          renderer: "canvas",
          loop: false,
          autoplay: true,
          animationData: data,
          rendererSettings: undefined
        });
        this.anim.play();
        this.$emit("animCreated", this.anim);
      });
  }
};
</script>
<style scoped lang="scss">
.hidden {
  display: none;
}
.play-button {
  box-sizing: border-box;
  width: 74px;
  height: 74px;
  background-color: transparent;
  border-width: 37px 0px 37px 74px;
  border-color: transparent transparent transparent #5e2a57;
}
</style>
