<!--
  Copyright (C) 2020 ExploRêve

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.

  Full source code is available at <https://gitlab.com/exploreve/frontend>.
-->

<template>
  <div>
    <p class="inscription">S'inscrire à la newsletter:</p>
    <form
      action="https://exploreve.us7.list-manage.com/subscribe/post?u=7677a84d7af69edc83eabd777&amp;id=9fcef38197"
      method="post"
      class="validate"
      target="_blank"
      novalidate
    >
      <b-form-input class="form-input mt-2 mr-3" placeholder="Email" type="email" name="EMAIL"></b-form-input>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_7677a84d7af69edc83eabd777_9fcef38197" tabindex="-1" value="" />
      </div>
      <b-button variant="dark" class="form-button mt-2" type="submit" value="Subscribe" name="subscribe"
        >Envoyer</b-button
      >
    </form>
    <p class="conditions">
      En renseignant votre adresse email, vous acceptez de recevoir des nouvelles de l'Explorêve. Nous utilisons les
      services de <a href="https://mailchimp.com/">mailchimp</a> pour vous informer par mail. Vous pouvez vous
      désinscrire à tout moment en envoyant un mail à <a href="mailto:contact@exploreve.fr">contact@exploreve.fr</a>.
    </p>
  </div>
</template>

<style lang="scss" scoped>
div {
  text-align: left;
}

.inscription {
  font-size: 1.1em;
  margin-right: 1em;
  display: inline;
}

.conditions {
  text-align: left;
}

.form-input {
  display: inline-block;
  position: relative;
  max-width: 100%;
}

.form-button {
  vertical-align: initial;
  color: white !important;
  text-decoration: none !important;
}
</style>
