<!--
  Copyright (C) 2020 ExploRêve

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.

  Full source code is available at <https://gitlab.com/exploreve/frontend>.
-->

<template>
  <div class="reseaux-sociaux">
    <a href="https://www.instagram.com/exploreve_scout/">
      <img src="https://cdn.exploreve.fr/content/social/instagram.svg" alt="twitter logo"
    /></a>
    <a href="https://www.facebook.com/ExploreveScout/">
      <img src="https://cdn.exploreve.fr/content/social/facebook.svg" alt="twitter logo" />
    </a>
    <a href="https://twitter.com/ExploreveScout">
      <img src="https://cdn.exploreve.fr/content/social/twitter.svg" alt="twitter logo" />
    </a>
  </div>
</template>

<style lang="scss" scoped>
.reseaux-sociaux {
  display: flex;
  justify-content: space-evenly;

  img {
    width: 32px;
    height: 32px;
  }
}
</style>
