<!--
  Copyright (C) 2020 ExploRêve

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <https://www.gnu.org/licenses/>.

  Full source code is available at <https://gitlab.com/exploreve/frontend>.
-->

<template>
  <div id="pigeonComponent">
    <img
      src="https://cdn.exploreve.fr/content/IM3/bird.svg"
      @click="pigeonClicked()"
      v-if="show"
      id="pigeon"
      alt="pigeon"
    />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "Pigeon",
  data: () => {
    return {
      show: false,
      i: null,
      dx: 4,
      dy: 2
    };
  },
  methods: {
    pigeonClicked: function () {
      clearInterval(this.i);
      this.show = false;
      this.$store.dispatch("changeState", "MESSAGE_READ");
      this.$store.dispatch("setMessagePreRead", false);
    },
    mover(xBox, yBox) {
      let el = document.getElementById("pigeon");
      if (el == undefined) {
        clearInterval(this.i);
      }
      let mvy = el.y + this.dy;
      let mvx = el.x + this.dx;
      el.style.top = mvy + "px";
      el.style.left = mvx + "px";
      if (el?.x <= 10 || el?.x >= xBox - 100 || el?.y <= 60 || el?.y >= yBox - 60) {
        el.style.top = mvy + "px";
        el.style.left = mvx + "px";
        mvx = el.y + this.dy;
        mvy = el.y + this.dy;

        this.dx = Math.floor(Math.random() * (5 - -5 + 1)) + -5;
        this.dy = Math.floor(Math.random() * (5 - -5 + 1)) + -5;

        mvy = el.y + this.dy;
        el.style.top = mvy + "px";
        mvx = el.x + this.dx;
        el.style.left = mvx + "px";
      }
    }
  },
  computed: {
    ...mapGetters(["message_pre_read"], "message_pre_read")
  },
  watch: {
    message_pre_read: (value) => {
      if (value === true) {
        this.dx = Math.floor(Math.random() * (3 - -3 + 1)) + -3;
        this.dy = Math.floor(Math.random() * (3 - -3 + 1)) + -3;
        this.show = true;
        let el = document.getElementsByClassName("img-container")[0];
        let xMax = el.clientWidth;
        let yMax = el.clientHeight;
        this.i = setInterval(this.mover, 25, xMax, yMax);
        this.$emit("audio", { action: "play-once", id: "music01" });
      } else {
        this.show = false;
      }
    }
  }
};
</script>

<style>
#pigeon {
  z-index: 100000;
  position: absolute;
  width: 100px;
  left: 400px;
  top: 210px;
}
#pigeon-button {
  position: absolute;
  display: inherit;
}
</style>
